@model List<Tag>




<div class="card">

<div class="card-header">


    Tags
</div>
<ol class="list-group list-group-numbered">
    @foreach (var t in Model)
    {

        <li class="list-group-item"> 
            <a href="/posts/tag/@t.Text">
            @t.Text</a></li>

    }

</ol>
</div>
