@model List<Post>

<div class="row container">

    <div class="col-sm-8">


        @foreach (var p in Model)
        {
            <div class="row mb-3" style="background-color:#fefafa;">

                <div class="col-sm-4 ">
                    <img src="/img/@p.Image" alt="" width="100%" height="100%">
                </div>
                <div class="col-sm-8">
           
          
                       <h2 class="card-title"> ** @p.Title</h2>
             
                   
                    <hr>
                    <div class="mb-1 text-muted">@p.PublishedOn</div>
                    <p class="card-text mb-auto">@p.PostContent</p>
                    <a href="/posts/@p.Url" class="btn-link fw-bold" >Continue reading</a>



                </div>

            </div>
        }

    </div>



    <div class="col-sm-4">
        @await Component.InvokeAsync("PostTags")
        @await Component.InvokeAsync("LastPosts")
       
    </div>

</div>
 